{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
		<div class="row justify-content-md-center">
		<div class="col-md">
<form method="post" content='text/html; charset=UTF-8'>
	{% csrf_token %}
	{{ form.as_p }}
    <div class="row">
    <span>Ctrl o cmd para elegir varios dias</span>
</div>
	<button class="btn btn-success" type="submit">Guardar</button>
	<a class= "btn btn-primary" href="{% url 'sistematurnos:Turno_listar' %}">Cancelar</a>
</form>
</div>
</div>  
</div>
{% endblock %}